@charset "UTF-8";
/* CSS Document */

/* Reset
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html, body, div, span, h2, h3, p, a, img, ul, li, form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* Universal
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em;
  line-height: 1.6rem;
  font-family: interstate-mono, monospace;
  font-weight: 400;
  background: #272d34;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(images/bg-body.jpg) ;
  background-size: 100%;
}

a {
  text-decoration: none;
}

.button {
  font-family: interstate-mono, monospace;
  color: #272d34;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  padding: 10px 30px;
  background: #ffffff;
  z-index: 1000;
  font-weight: 700;
  position: relative;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.75);
  border: none;
}

.button:hover {
  background: #6E73BC;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
  transform: translateY(5px);
}

@media (min-width: 50px) {
  .row {
    padding: 100px 10% 100px 10%;
    clear: both;
    display: inline-block;
    width: 80%;
    position: relative;
  }

  .column-half:first-child {
    float: none;
    margin-right: 0;
    width: 100%;
    margin-bottom:8rem;
  }

  .column-half {
    float: none;
    width: 100%;
  }

  .column-onethird {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom:8rem;
  }

  .column-onethird:last-child {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom:0;
  }

  .column-onefourth:last-child {
    float: none;
    width: 100%;
    margin-right: 0;
  }

  .column-onefourth {
    float: none;
    width: 100%;
    margin-right: 0;
  }
}

@media (min-width: 800px) {
  .row {
    padding: 100px 10% 100px 10%;
    clear: both;
    display: inline-block;
    width: 80%;
    position: relative;
  }

  .column-half:first-child {
    float: left;
    margin-right: 10%;
    width: 45%;
    margin-bottom:0;
  }

  .column-half {
    float: left;
    width: 45%;
  }

  .column-onethird {
    float: left;
    width: 28%;
    margin-right: 8%;
    margin-bottom:0;
  }

  .column-onethird:last-child {
    float: left;
    width: 28%;
    margin-right: 0;
    margin-bottom:0;
  }

  .column-onefourth:last-child {
    float: left;
    width: 21%;
    margin-right:0;
  }

  .column-onefourth {
    float: left;
    width: 21%;
    margin-right: 5%;
  }
}


/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 50px) {
  h2, h3 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300; }

  h2 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: #ffffff;
    letter-spacing: .2rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: interstate-mono, monospace;
  }

  h3 {
    font-size: 1.6rem;
    line-height: 1.8rem; 
    letter-spacing: .15rem;
    font-weight:700;
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-family: interstate-mono, monospace;
    color:#999999;
  }

  p.intro {
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #ffffff;
    letter-spacing: .2rem;
    font-weight: 500;
    font-family: interstate-mono, monospace;
    margin-bottom: 30px;
  }

  p {
    color: #ffffff;
    letter-spacing: .2rem;
    font-weight: 500;
    font-family: interstate-mono, monospace;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 800px) {
  h2 {
    font-size: 4.5rem;
    line-height: 7.5rem;
    font-weight: 500;
  }
}

/* Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.nav {
  padding: 50px;
}

.navbutton {
  font-family: interstate-mono, monospace;
  color: #272d34;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  padding: 10px 30px;
  background: #ffffff;
  z-index: 1000;
  font-weight: 700;
  position: relative;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.75);
  position: absolute !important;
  right: 50px;
  border: none;
}

.navbutton:hover {
  background: #6E73BC;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
  transform: translateY(5px);
}

/* Frame
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#top, #bottom, #left, #right {
  background: #BCC1C7;
  position: fixed;
  z-index: 1000000;
}

#left, #right {
  top: 0; bottom: 0;
  width: 25px;
}

#left {
  left: 0;
  background-image: url(images/bg-left.jpg);
  background-size: cover;
}

#right {
  right: 0;
  background-image: url(images/bg-right.jpg);
  background-size: cover;
}
    
#top, #bottom {
  left: 0; right: 0;
  height: 25px;
}

#top {
  top: 0;
  background-image: url(images/bg-top.jpg);
  background-size: cover;
  background-position: bottom;
}

#bottom {
  bottom: 0;
  background-image: url(images/bg-bottom.jpg);
  background-size: cover;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 50px) {
  .banner {
    margin-bottom: -25px;
    height: 82vh;
  }

  .typing {
    height: auto;
    width:80%;
    padding:10%;
  }

  .typing p {
    font-size: 1.25rem;
    line-height: 5.4rem;
    color: #ffffff;
    letter-spacing: .2rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: interstate-mono, monospace;
}

@media (min-width: 800px) {
  .typing {
    width:80%;
  }

  .typing p {
    font-size: 4rem;
    line-height: 8.4rem;
    font-weight: 500;
  }
}


.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

@supports(-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) {
}

.demo-2 {
  --glitch-width: 100vw;
  --glitch-height: 100vh;
  --gap-horizontal: 10px;
  --gap-vertical: 5px;
  --color-title: #fff;
  --time-anim: 4s;
  --delay-anim: 2s;
  --blend-mode-1: none;
  --blend-mode-2: none;
  --blend-mode-3: none;
  --blend-mode-4: overlay;
  --blend-mode-5: overlay;
  --blend-color-1: transparent;
  --blend-color-2: transparent;
  --blend-color-3: transparent;
  --blend-color-4: #42474c;
  --blend-color-5: transparent;
}

/* Glitch styles */
.glitch {
  top: 0;
  left: 0;
  width: var(--glitch-width);
  height: var(--glitch-height);
  overflow: hidden;
  display: inline;
}

.glitch__img {
  position: absolute;
  top: calc(-1 * var(--gap-vertical));
  left: calc(-1 * var(--gap-horizontal));
  width: 100%;
  height: 100%;
  background: url(images/bg-body.png) no-repeat 50% 0;
  background-color: var(--blend-color-1);
  background-size: cover;
  transform: translate3d(0,0,0);
  background-blend-mode: var(--blend-mode-1);
  overflow: hidden;
}

.glitch__img:nth-child(n+2) {
  opacity: 0;
}

.hidden {
  display: none;
  visibility: hidden;
}

/* ----- blinking cursor animation ----- */
.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.95s infinite;
  -moz-animation: blink 0.95s infinite;
  -ms-animation: blink 0.95s infinite;
  -o-animation: blink 0.95s infinite;
  animation: blink 0.95s infinite;
}

@-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-ms-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}


/* Intro
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 50px) {
  #introleft {
    padding-top: 5%;
    width: 100%;
    float: none;
    z-index: 10;
  }

  #introright {
    display: none;
  }
}
@media (min-width: 800px) {
  #introleft {
    padding-top: 5%;
    width: 59%;
    float: left;
    z-index: 10;
    position: absolute;
  }

  #introright {
    display: block;
    width: 50%;
    float:right;
  }
}

/* Lab
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 50px) {
  #tabs {
    width: 100%;
    display: inline;
    position: relative;
    margin: 0 auto;
    height: auto;
    min-height: none;
    max-height: none;
    overflow: hidden;
  }

  ul {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    vertical-align: top;
    width: 100%;
  }

  ul li a {
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    color: #3b3b3b;
    padding: 20px 5px;
    z-index: 1;
    opacity: .5;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }

  ul li:focus, a:focus {
    outline: none;
  }

  ul li:nth-child(1) a {
    border-top: none;
  }

  ul li a.active {
    opacity: 1;
  }

  ul li a:hover {
    opacity: 1;
  }

  .tag {
    position: relative;
    width: 100%;
  }

  .icon {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #c7c7c7;
    border-radius: 100%;
    vertical-align: middle;
  }

  .block {
    position: absolute;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    border: solid 2px #7b7b7b;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .circle {
    position: absolute;
    padding: 2px;
    border: solid 2px #7b7b7b;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .title {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 4px;
    vertical-align: middle;
    color: #FFFFFF;
    font-family: interstate-mono, monospace;
    font-size: 2rem;
    letter-spacing: .2rem;
  }

  .addon {
    position: relative;
    width: 80%;
    top: -25px;
    margin-left: 70px;
    letter-spacing: 0;
    font-size: 13px;
    color: #9b9b9b;
    opacity: 0;
    font-family: interstate-mono, monospace;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .addon.fadein {
    opacity: 1;
  }

  .browser {
    width: 45%;
    height: 95%;
    position: absolute;
    overflow: hidden;
  }

  #tabs-1, #tabs-2, #tabs-3, #tabs-4 {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  #tabs-1 {
    background: url(images/own.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  #tabs-2 {
    background: url(images/battle.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  #tabs-3 {
    background: url(images/design.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  #tabs-4 {
    background: url(images/trade.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: 800px) {
  #tabs {
    width: 100%;
    display: flex;
    position: relative;
    margin: 0 auto;
    height: auto;
    min-height: 200px;
    max-height: 600px;
    overflow: hidden;
  }
}

/* Data
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 50px) {
  #different {
    outline: 2px solid #ffffff;
    color: #ffffff;
    padding: 10%;
    width: 80%;
  }

  #different img {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (min-width: 800px) {
  #different {
    outline: 2px solid #ffffff;
    color: #ffffff;
    padding: 2%;
    width: 24%;
  }
}

/* Blueprints
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 50px) {

  #blueprintalpha p {
    color:#999999;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 2000;
    padding-top: 15%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
  }

  .modal img {
    width: 100%;
  }

  .blueprint {
    outline: 2px solid #ffffff;
    border: none;
    color: #ffffff;
    padding: 4%;
    float: left;
    width: 46%;
    margin-right: 4%;
    margin-bottom: 4%;
    min-height: 140px;
    background: none;
    text-align: left;
  }

  .blueprint h3 {
    font-size: 1.6rem;
    line-height: 1.8rem;
    letter-spacing: .15rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-family: interstate-mono, monospace;
    color: #6E73BC;
  }

  .blueprint p{
    color: #ffffff;
    letter-spacing: .2rem;
    font-family: interstate-mono, monospace;
    line-height: 2.5rem;
    font-weight: 600;
    font-size: 1.25rem;
  }

  .blueprint:hover {
    outline: 2px solid #6E73BC;
  }

  /* Modal Content */
  .modal-content {
    background-color: #272d34;
    margin: auto;
    padding: 6%;
    width: 50%;
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #6E73BC;
    text-decoration: none;
    cursor: pointer;
  }

  .future {
    outline: 2px dashed #999999;
  }

  .future h3 {
    color: #999999;
  }

  .future p {
    color: #999999;
  }

  .future:hover {
    outline: 2px dashed #6E73BC;
  }

}

@media (min-width: 800px) {
  .blueprint {
    width: 23%;
    margin-right: 2%;
    margin-bottom: 2%;
    padding: 2%;
  }

  .blueprint p{
    font-weight: 500;
    font-size: 1.5rem;
  }


}

/* CTA
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.glitch-img {
  position: absolute; 
  width : 100%; 
  height : 100%; 
  left : 0; 
  background-position:center bottom;  
  background-repeat: no-repeat;
  -moz-background-size:100%;
  -o-background-size:100%;
  -webkit-background-size:100%;
  background-size:100%;
  opacity : 1;
  bottom:0;
  overflow: hidden;
} 

#footerglitch {
  min-height: 80vh;
  overflow: hidden;
  text-align: center !important;
  padding: 100px 20%;
  width: 60%;
}

#footerglitch p {
  position: relative;
  z-index: 1000;
}

.glitchcontainer {
  z-index: -10000;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#footer a {
  color: #ffffff;
  text-decoration: none;
  line-height: 3rem;
}

#footer a:hover {
  color: #6E73BC;
}

#footer img:hover {
  opacity: .8;
}

.apply-form input[type="submit"] {
  font-family: interstate-mono, monospace;
  color: #272d34;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  padding: 10px 30px;
  background: #ffffff;
  z-index: 1000;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  border: none;
}

.apply-form input[type="email"]:focus {
  border: 2px solid #6E73BC;
  outline: none !important;
  box-shadow: none;
}

.apply-form input[type="submit"]:hover {
  background: #6E73BC;
  color: #ffffff;
}

.apply-form input[type="email"] {
  width: 94%;
  padding: 4% 2%;
  margin-bottom: 16px;
  background: none;
  border: 2px solid #ffffff;
  color: #6E73BC;
}

#about {
  padding-bottom: 0;
}

.about {
  background: #191d21;
  padding: 4%;
}